*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

.nav-link{
    color: #fff;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 5px;
    border: transparent 1px solid;
}

.nav-link:hover{
    border: #005450 1px solid;
}

.name{
    padding: 320px 150px;
    text-align: center;
    background-image: url(./image/jan-weber-DSxIjXSxjTI-unsplash.jpg);
    background-size: cover;
}

.nameTitle{
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 2px;
}

.green{
    color: #005450;
}

#nameExplore{
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #005450;
    transition: transform 1000ms;
    --bs-btn-border-color: #005450;
    --bs-btn-hover-bg: #003533;
    --bs-btn-hover-border-color: #003533;
    --bs-btn-active-bg: #003533;
    --bs-btn-active-border-color: #003533;
}

#nameExplore:hover{
    transform: translateY(-0.75rem);
    transition: transform 500ms;
}

#about{
    padding: 50px;
}

#title{
    text-align: center;
    border-right: #00756f 2px solid;
}

.aboutTitle{
    padding-top: 40px;
    color: #005450;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2px;
}

#aboutTitleSecond{
    font-size: 30px;
    padding-bottom: 10px;
}

#aboutText{
    padding: 50px;
    text-align: justify;
    font-size: 20px;
}

#media{
    background-color: #005450;
    color: #fff;
    margin-bottom: 0px;
}

#mediaTitle{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 10px;
}

#mediaUl{
    vertical-align: baseline;
    list-style-type: none;
    text-align: center;
    margin-bottom: 0;
}

.mediaLi{
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px 100px;
}

#history{
    background-image: url(./image/annie-spratt-BcGoZXjyPzA-unsplash.jpg);
    background-size: cover;
    text-align: center;
    padding: 10px;
    padding: 150px;
}

#historyTitle{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 3px;
}

#containerHistory{
    padding-top: 20px;
}

#carouselExampleIndicators{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    border: #003533 1px solid;
}

#historyTitleCarousel{
    font-size: 15px;
    color: #003533;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border-bottom: #00756f 5px solid;
}

#historyTextCarousel{
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    padding: 20px;
    font-weight: 300;
}

#offerImgFirst{
    margin-left: 150px;
    box-shadow: 20px 20px 10px 5px #003533;
}

#offerImgSecond{
    margin-left: 100px;
    box-shadow: -20px -20px 10px 5px #003533;
}

#containerOffer{
    margin: 50px;
    padding: 50px;
    border-bottom: #003533 2px solid;
}

#titleOffer{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #005450;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

#textOffer{
    text-align: justify;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

#contactUs{
    background-color: #005450;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
    padding: 100px 300px;
}

.contactUsButton{
    text-decoration: none;
    color: #005450;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-left: 400px;
    animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: #00756f;
    }
}

#opinion{
    width: 900px;
    margin: 100px auto;
}

#opinionTitle{
    color: #fff;
    padding: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
}

#opinionText{
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: justify;
}

#services{
    background-color: #005450;
    color: #fff;
    padding: 50px 150px;
}

#servicesTitle{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
}

#servicesText{
    font-weight: 200;
    letter-spacing: 1px;
    text-align: justify;
}

#servicesButton{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #005450;
    background-color: #fff;
    border: 1px solid #fff;
    --bs-btn-active-bg: #003533;
    --bs-btn-active-border-color: #003533;
}

#injuryServicesText{
    color: #003533;
    font-size: 15px;
    font-weight: 100px;
    letter-spacing: 1px;
}

#injuryServicesCol{
    margin: 10px;
    padding: 10px;
}

#injuryServicesCol:hover{
    color: #fff;
    background-color: #005450;
    border-radius: 5px;
}

#team{
    margin: 50px;
}

#teamInfo{
    padding: 30px;
    background-color: #003533;
}

#containerTeam{
    background-color: #003533;
    
}

#teamImg{
    border-radius: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 80px;
    
}

#titleTeamInfo{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    padding: 10px;
}

#teamRole{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

#pills-tab{
    border-bottom: 1px solid #fff;
}

#pills-tabContent{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: justify;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #005450;
}

.nav{
    --bs-nav-link-hover-color: #fff;
}

#contact{
    background-image: url(./image/annie-spratt-BcGoZXjyPzA-unsplash.jpg);
    background-size: cover;
}

#titleContact{
    padding: 50px;
    text-align: center;
    color: #005450;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 100px;
    height: 100px;
}

.containerForm{
    padding: 50px;
}

#buttonForm{
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #005450;
    border: 1px solid #005450;
    --bs-btn-active-bg: #003533;
    --bs-btn-active-border-color: #003533;
}

#buttonForm:hover{
    color: #005450;
    background-color: #fff;
    border: 1px solid #fff;
}

footer{
    color: white;
    background-color: #003533;
}

#colFooter{
    padding: 20px;
    text-align: center;
}

#copyright{
    border-top: #fff 1px solid;
    text-align: center;
    padding: 5px;
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 1000;  
}

#scrollToTop:hover {
    background-color: #003533;
    border: 1px solid #fff;
}